.item
  &__subscribedIcon
    max-width: 15px
    margin-left: 5px
    vertical-align: bottom
    color: #F9A825
    fill: #FFEE58
  &__streamingIcon
    max-width: 15px
    margin-left: 5px
    vertical-align: bottom
    color: #C62828
    fill: #EF5350
  &_profile
    background: #9E9E9E
    color: #fff
    &:hover
      color: #EEEEEE
    & .small
      color: #fff
  &_streaming
    & .small
      color: #C62828

.small
  color: #000
