.item
  &_profile
    background: #757575
    color: #fff
    & .small
      color: #fff
  &_subscribed
    background: #FFF8E1
  &_streaming
    background: #FFEBEE
    & .small
      color: #C62828

.small
  color: #000
